body{

margin:0;

font-family:'Montserrat',sans-serif;

color:white;

background:
linear-gradient(
180deg,
#05070d,
#0d1624
);

min-height:100vh;

}



.background-glow{

position:fixed;

width:500px;

height:500px;

background:#00eaff;

opacity:.08;

filter:blur(150px);

top:-150px;

left:50%;

}



.topbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px;

background:#111827;

border-bottom:1px solid #24304b;

}



.logo-area h1{

color:#00eaff;

margin:0;

}



.logo-area span{

color:#8892a8;

}





button{

padding:14px 25px;

border-radius:14px;

border:none;

cursor:pointer;

font-weight:bold;

}



.btn-primary{

background:#00eaff;

color:#001018;

}



.btn-danger{

background:#ff5757;

color:white;

}




.conquistas-container{

width:90%;

max-width:1200px;

margin:40px auto;

}





.perfil-conquista,
.painel-conquistas{


background:#111827;

border:1px solid #24304b;

border-radius:22px;

padding:30px;

margin-bottom:30px;

}





.perfil-conquista h2,
.painel-conquistas h2{

color:#00eaff;

}





#lista-conquistas{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:20px;

}





.achievement-card{


background:#182338;

border:1px solid #304261;

border-radius:18px;

padding:25px;

transition:.3s;


}



.achievement-card:hover{


transform:translateY(-5px);

border-color:#00eaff;


}

.desbloqueada{

margin-top:15px;

padding:10px;

border-radius:10px;

background:rgba(0,255,136,.15);

color:#00ff88;

font-weight:bold;

}



.bloqueada{

margin-top:15px;

padding:10px;

border-radius:10px;

background:rgba(255,255,255,.05);

color:#8892a8;

font-weight:bold;

}
