.staff-buttons {

display:flex;

justify-content:center;

gap:25px;

margin-top:40px;

}



.staff-button {


width:130px;

height:130px;


border-radius:50%;


background:#111;


border:2px solid #ff9900;


cursor:pointer;


display:flex;

flex-direction:column;

align-items:center;

justify-content:center;


transition:.3s;


}



.staff-button:hover {


transform:scale(1.1);


box-shadow:0 0 20px #ff9900;


}



.staff-button img {


width:70px;

height:70px;


}



.staff-button span {


color:white;

font-weight:bold;

margin-top:5px;


}
